---
import Layout from "../../layouts/Layout.astro";

import { Icon } from "astro-icon/components";

import Checkbox from "../../components/Checkbox.astro";
import Sidebar from "../../components/Sidebar.astro";

import ChartLine from "../../components/ChartLine.astro";
import ChartAngleCircle from "../../components/ChartAngleCircle.astro";
import ChartLineArea from "../../components/ChartLineArea.astro";
import Dropdown from "../../components/Dropdown.astro";

import CardInfoDashboard from "../../components/CardInfoDashboard.astro";

import { Image } from "astro:assets";
---

<Layout title="Dashboard" bodyClass="bg-gray-100">
  
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 pl-6 pr-6 -mt-16">
      <!-- Card 1 -->
      <CardInfoDashboard
        value="15K"
        text="Totales Generales"
        icon="chart-area-line"
        color="bg-gradient-to-r from-custom-senary to-custom-tertiary"
      />

      <CardInfoDashboard
        value="102.5K"
        text="Facturas"
        icon="chart-bar"
        color="bg-gradient-to-r from-custom-septenary to-custom-tertiary"
      />

      <CardInfoDashboard
        value="4.5K"
        text="Notas de Débito"
        icon="timeline"
        color="bg-gradient-to-r from-custom-denary to-custom-undenary"
      />

      <CardInfoDashboard
        value="256.5K"
        text="Notas de Crédito"
        icon="book"
        color="bg-gradient-to-r from-custom-denary to-custom-undenary"
      />
    </div>

    <div class="grid md:grid-cols-2 gap-4 p-6 mt-2">
      <div>
        <div class="bg-white p-4 mb-4 rounded-xl m-1">
          <ChartLine />
        </div>
        <div class="bg-white p-4 rounded-xl m-1 mt-5">
          <ChartLineArea />
        </div>
      </div>
      <div class="m-1">
        <div class="bg-white p-4 h-full rounded-xl">
          <ChartAngleCircle />
        </div>
      </div>
    </div>


</Layout>
