---
import Layout from "../../layouts/Layout.astro";

import CardReporteDashboard from "../../components/CardReporteDashboard.astro";
import CardContentPage from "../../components/CardContentPage.astro";

const locals:any = Astro.locals;

// if(locals.rol_id != 1 && locals.rol_id != 2){
//     return Astro.redirect("/");
// }

---

<Layout title="Dashboard" bodyClass="bg-gray-100">
    <div class="pl-6 pr-6 -mt-36">
        <div class="flex items-center mb-10">
            <div class="w-48"></div>
            <h2 class="font-semibold text-white text-xl text-center flex-grow">Panel de Reportes</h2>
            
            <div class="w-48"></div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
           
            <CardReporteDashboard
                value="0"
                text="Libro de Ventas"
                icon="list-check"
                color="bg-gradient-to-r from-custom-denary to-custom-undenary"
                tipo_busqueda="libro_ventas"
                input="date"
            />
           
            
            <CardReporteDashboard
                value="0"
                text="Archivo Retorno"
                icon="report"
                color="bg-gradient-to-r from-custom-senary to-custom-tertiary"
                tipo_busqueda="libro_ventas"
                input="month"
            />

            <CardReporteDashboard
                value="0"
                text="Rango de Facturas"
                icon="reorder"
                color="bg-gradient-to-r from-custom-septenary to-custom-tertiary"
                tipo_busqueda="libro_ventas"
                input="day"
            />

        </div>
    </div>
   
</Layout>

<script>

</script>