---
import Layout from "../../layouts/Layout.astro";

import CardInfoDashboard from "../../components/CardInfoDashboard.astro";
import CardContentPage from "../../components/CardContentPage.astro";


const locals:any = Astro.locals;

// if(locals.rol_id != 1 && locals.rol_id != 2){
//     return Astro.redirect("/");
// }

---

<Layout title="Dashboard" bodyClass="bg-gray-100">
    <div class="pl-6 pr-6 -mt-36">
        <div class="flex items-center mb-10">
            <div class="w-48"></div>
            <h2 class="font-semibold text-white text-xl text-center flex-grow">Panel de Reportes</h2>
            
            <div class="w-48"></div>
        </div>
        <div class="grid grid-cols-2 gap-4">
           
        </div>
    </div>
   
</Layout>

<script>

</script>