---
import Layout from "../../layouts/Layout.astro";

import CardReporteDashboard from "../../components/CardReporteDashboard.astro";
import CardContentPage from "../../components/CardContentPage.astro";
import { apiController } from '../../scripts/request.js';


const locals:any = Astro.locals;
let data:any = {};
let errors = {all: [] };
let successMessage = {all: []};
// if(locals.rol_id != 1 && locals.rol_id != 2){
//     return Astro.redirect("/");
// }

if (Astro.request.method === "POST") {
    // const formData = await Astro.request.formData();

    // const responseData = await apiController(import.meta.env.PUBLIC_BASE_URL,'/clientes/'+Astro.params.id,'GET',formData, locals.token);
    // console.log(responseData);
    // if(responseData.data.errors || responseData.code !== 200){
    //     errors.all = responseData.data.errors ? responseData.data.errors : [];
    // }
}

const config_params = [
                    { "nombre": "Nro Control", "value": "numero_control", "checked": true, "hidden": true },
                    { "nombre": "Nro de Doc", "value": "numero_documento", "checked": true, "hidden": true },
                    { "nombre": "Tip doc", "value": "tipo_documento", "checked": true, "hidden": true },
                    { "nombre": "Fecha asig", "value": "fecha_emision", "checked": true, "hidden": true },
                    { "nombre": "Fecha emisión", "value": "fecha_asignacion", "checked": true, "hidden": true },

                    { "nombre": "Razon Social", "value": "razon_social", "checked": true, "available": ['libro_ventas']},
                    { "nombre": "Neto a pagar", "value": "neto_pagar", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "IGTF", "value": "igtf", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Total a pagar", "value": "total_pagar", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Base imponible", "value": "base_imponible", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Monto IVA", "value": "monto_iva", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Monto exento", "value": "monto_exento", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Monto no sujeto", "value": "monto_no_sujeto", "checked": true, "available": ['libro_ventas'] },
                    //{ "nombre": "Código operación", "value": "codigo_operacion", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Serie", "value": "serie", "checked": true, "available": ['libro_ventas'] },
                    //{ "nombre": "Código suscriptor", "value": "codigo_suscriptor", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Hora emisión", "value": "hora_emision", "checked": true, "available": ['libro_ventas'] },
                    { "nombre": "Estatus", "value": "status", "checked": true, "available": ['libro_ventas'] },
                    //{ "nombre": "Motivo anulación", "value": "motivo_anulacion", "checked": true, "available": ['libro_ventas'] },
                    //{ "nombre": "Fecha anulación", "value": "fecha_anulacion", "checked": true, "available": ['libro_ventas'] },
                    //{ "nombre": "Hora anulación", "value": "hora_anulacion", "checked": true, "available": ['libro_ventas'] },
                    //{ "nombre": "Correo cliente", "value": "correo_cliente", "checked": true, "available": ['libro_ventas'] },
                    //{ "nombre": "Teléfono cliente", "value": "telefono_cliente", "checked": true, "available": ['libro_ventas'] },
                ];

---

<Layout title="Dashboard" bodyClass="bg-gray-100">
    <div class="pl-6 pr-6 -mt-36">
        <div class="flex items-center mb-10">
            <div class="w-48"></div>
            <h2 class="font-semibold text-white text-xl text-center flex-grow">Panel de Reportes</h2>
            
            <div class="w-48"></div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
           
            <CardReporteDashboard
                id="libro_ventas"
                value="0"
                text="Libro de Ventas"
                icon="list-check"
                color="bg-gradient-to-r from-custom-denary to-custom-undenary"
                tipo_busqueda="libro_ventas"
                input="date"
                options={config_params}
            />
           
            
            <CardReporteDashboard
                id="archivo_retorno"
                value="0"
                text="Archivo Retorno"
                icon="report"
                color="bg-gradient-to-r from-custom-senary to-custom-tertiary"
                tipo_busqueda="archivo_retorno"
                input="date"
                options={config_params}
            />

            <CardReporteDashboard
                id="rango_facturas"
                value="0"
                text="Rango de números de control"
                icon="reorder"
                color="bg-gradient-to-r from-custom-septenary to-custom-tertiary"
                tipo_busqueda="rango_control"
                input="range_control"
                options={config_params}
            />

            <CardReporteDashboard
                id="rango_facturas"
                value="0"
                text="Rango de Facturas"
                icon="reorder"
                color="bg-gradient-to-r from-green-300 to-green-600"
                tipo_busqueda="rango_facturas"
                input="range_documento"
                options={config_params}
            />

        </div>
    </div>
   
</Layout>
