---
import ButtonAction from "../../../components/ButtonAction.astro";
import ButtonBack from "../../../components/ButtonBack.astro";
import CardContentPage from "../../../components/CardContentPage.astro";
import Checkbox from "../../../components/Checkbox.astro";
import InputField from "../../../components/InputField.astro";
import Select from "../../../components/Select.astro";
import Layout from "../../../layouts/Layout.astro";
import DataForm from "../../../components/DataForm/Usuarios.astro";

import { Icon } from "astro-icon/components";
import { apiController } from '../../../scripts/request.js';

const locals:any = Astro.locals;

let errors = {all: [] };
let successMessage = {all: []};
let data = {};

if (Astro.request.method === "POST") {
  try {
    
    const formData = await Astro.request.formData();
   
    for (let [key, value] of formData.entries()) {
        data[key] = value;
    }
    const responseData = await apiController(import.meta.env.PUBLIC_BASE_URL,'/usuarios','POST',data, locals.token);
   
    if(responseData.data.errors || responseData.code !== 200){
      errors.all = responseData.data.errors;
    }else{
      
    }
    
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
      errors.all = ["¡Ups! Parece que algo no salió como se esperaba. Por favor, intenta de nuevo."];
    }
  }
}

---
<Layout title="Dashboard" subTitle="Configuración de Nuevo Usuario" bodyClass="bg-gray-100" isSearchBar={false}>
    <CardContentPage>
        <DataForm method="POST" formData={data} />
    </CardContentPage>
</Layout>

<script>
    const data = {
      "Estado1": {
        "region1": ["sector1", "sector2"],
        "region2": ["sector3", "sector4"]
      },
      "Estado2": {
        "region3": ["sector5", "sector6"],
        "region4": ["sector7", "sector8"]
      }
    };
  
    function init() {
        const estadoSelect:any = document.getElementById('estado');
        const regionSelect:any = document.getElementById('region');
        const sectorSelect:any = document.getElementById('sector');
    
        for (const estado in data) {
            const option = document.createElement('option');
            option.text = estado;
            option.value = estado;
            estadoSelect.add(option);
        }
    
        estadoSelect.onchange = function() {
            regionSelect.innerHTML = '<option value="">Región</option>';
            sectorSelect.innerHTML = '<option value="">Sector / Unidad</option>';
            regionSelect.disabled = false; // Habilitar el selector de region
            const regiones = data[this.value];
            for (const region in regiones) {
            const option = document.createElement('option');
            option.text = region;
            option.value = region;
            regionSelect.add(option);
            }
        };
    
        regionSelect.onchange = function() {
            sectorSelect.innerHTML = '<option value="">Sector / Unidad</option>';
            sectorSelect.disabled = false; // Habilitar el selector de sector
            const sectors = data[estadoSelect.value][this.value];
            for (const sector of sectors) {
            const option = document.createElement('option');
            option.text = sector;
            option.value = sector;
            sectorSelect.add(option);
            }
        };
    }

    // Inicializar en la primera carga
    init();

    // Reinicializar después de cambiar de página
    document.addEventListener("astro:after-swap", init);
    
      
    
  </script>