---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Login Soluciones Laser">
	<main>
		<div class="login-container">
			<h1>Bienvenido</h1>
			<h2>Su Solución Digital</h2>
			
			<form action="/submit_login" method="post">
				<p>Ingresa tu información</p>
				<input type="text" placeholder="Email" name="email" required>
	
				<input type="password" placeholder="Contraseña" name="password" required>
	
				<button type="submit">Iniciar Sesión</button>
				<a href="#"><span class="psw">Olvidé mi contraseña</span></a>
			</form>
			
			<!-- <Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/> -->
		</div>
	</main>
</Layout>

<style>
	body, html {
	overflow-y: hidden;
	}


	body {
		display: flex;
		justify-content: right;
		align-items: center;
		margin: 0;

		background-image: url('../images/login.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}



	.login-container {
		position: relative;
		width: 600px;
		padding: 20px;
		box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.50);
		margin-right: 15vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.1); /* Blanco semi-transparente */
		backdrop-filter: blur(10px); /* Añade el efecto de desenfoque */
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-image: url('../images/icon-wakal.png');
		background-repeat: no-repeat;
		background-position: top right;
		background-position: calc(100% - 8%) 0; /* Ajusta la posición de la imagen */
		background-size: 110px;

	}

	.login-container form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin-top: 70px;
	}

	.login-container p {
		font-size: 2.5em;
		margin: 0px;
		padding: 0px;
	}

	.login-container h1 {
		margin: 0px;
		padding: 0px;
		font-size: 5em;
		color: white;
	}

	.login-container span, .login-container a, .login-container p {
		color: white;
		text-decoration-color: white;
		margin-top: 5px;
	}

	.login-container h2 {
		margin: 0px;
		padding: 0px;
		font-size: 2em;
		color: white;
	}
	.login-container form input[type="text"], .login-container form input[type="password"] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-radius: 8px; /* Añade bordes redondeados */
	}
	.login-container form button {
		background-color: #1e91ee;
		color: white;
		padding: 14px 20px;
		margin: 20px 0;
		border: none;
		cursor: pointer;
		width: auto; /* Cambia a auto para ajustar al contenido */
		border-radius: 8px; /* Añade bordes redondeados */
		font-size: 1.2em;
	}

	.login-container form button:hover {
		opacity: 0.8;
	}
</style>
