---
import Layout from '../layouts/LayoutLogin.astro';

import LogoWakal from '../components/LogoWakal.astro';
import InputField from '../components/InputField.astro';
import Checkbox from '../components/Checkbox.astro';

import { Image } from 'astro:assets';

import fondoLogin from '../images/login/fondoLogin.jpg';


---

<Layout title="Login Soluciones Laser">
   
	<div class="relative">
		 <!-- Círculo superior izquierdo -->
		 <div class="absolute -top-28 -left-16 w-80 h-80 bg-custom-quaternary rounded-full z-10"></div>
		 <!-- Círculo inferior derecho -->
		 <div class="absolute -bottom-16 -right-10 w-48 h-48 bg-custom-primary rounded-full z-10"></div>
		 
		 <!-- Card central en una rejilla -->
		 <div class="grid grid-cols-12 bg-white rounded-lg shadow-lg mx-4 md:mx-16 relative z-20">
			 <!-- Sección izquierda con imagen -->
			 <div class="col-span-7 w-full h-auto rounded-lg relative hidden md:block">
				 <div class="absolute inset-0 bg-gradient-to-r from-custom-secundary rounded-lg"></div>
				 <Image src={fondoLogin} alt="Imagen" loading="eager" class="w-full h-full object-cover" />
			 </div>
			
            <!-- Sección derecha con formulario -->
            <div class="col-span-12 md:col-span-5">
                <!-- Imagen -->
				<div class="text-right mt-16">
					<div class="col-span-12 flex flex-col items-center">
						<LogoWakal
							position="right"
						/>
					</div>
				</div>

				<form id="fr_login" class="p-16">
					<h2 class="text-center text-lg mb-4 text-custom-primary">Ingresa tu información</h2>
					<InputField
						id="email"
						name="email"
						type="email"
						icon="user"
						placeholder="Usuario o correo electrónico"
					/>

					<InputField
						id="password"
						name="password"
						type="password"
						icon="lock"
						placeholder="Contraseña"
					/>
					
					
					
					<div class="flex items-center mb-4">
						<Checkbox
							id="recuerdame"
							name="recuerdame"
							icon="check"
							text="Recuérdame"
						/>
						<a href="#" class="ml-auto text-blue-500 text-right text-sm text-custom-primary">¿Olvidaste tu contraseña?</a>
					</div>
					<button id="fr_btn_login" class="w-full bg-gradient-to-r from-custom-secundary to-custom-tertiary text-white rounded-full py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 mb-4 uppercase ">Ingresar</button>
				</form>
            </div>
        </div>
	</div>
</Layout>


<script>
	const url = import.meta.env.PUBLIC_BASE_URL;
	import { apiController } from './api/request.js';
	
	const handleLogin = async (event) => {
		event.preventDefault(); // Evita el envío predeterminado del formulario

		// Obtiene los valores de correo electrónico y contraseña del formulario
		const email = document.getElementById('email').value;
		const password = document.getElementById('password').value;

		const requestBody = {
			email,
			password,
		};
		
		const responseData = await apiController(import.meta.env.PUBLIC_BASE_URL,'/auth/login','POST',requestBody);
		
		if(responseData){
			window.location.href = '/dashboard'; // Ejemplo de redirección
		}
	};
	document.getElementById('fr_login').addEventListener('submit', handleLogin);
	
</script>