<html>
    <head>

    </head>
    <body>
     
        <script is:inline src='https://cdn.jsdelivr.net/npm/kore-web-sdk@11.2.1/dist/umd/kore-web-sdk-umd-chat.min.js'></script>
        <script is:inline> KoreChatSDK.chatConfig.botOptions.API_KEY_CONFIG.KEY = 'f3bd5305c9dc4606ab0ff2b476b4fc8acc2f174fbcaf435982180fea4064057est6e'; new KoreChatSDK.chatWindow().show(KoreChatSDK.chatConfig); </script>
    </body>
</html>