---
import { Icon } from "astro-icon/components";
---

<a id="backButton" class="absolute top-0 left-7 transform -translate-y-1/2 -translate-x-1/2 bg-custom-denary hover:bg-custom-undenary text-white font-bold rounded-full" data-tippy-content="Atras">
    <Icon name="arrow-left"  class="w-7 h-7 m-3" stroke-width="2" />
</a>

<script>
    function init() {
        document.getElementById('backButton').addEventListener('click', function() {
            window.history.back();
        });
    }

  // Inicializar en la primera carga
  init();

  // Reinicializar después de cambiar de página
  document.addEventListener("astro:after-swap", init);
    
</script>