---
interface Props {
  position?: "center" | "right" | "left";
}

const { position = "right"} = Astro.props;
---

<div id="chart-line"></div>

<script>
  import ApexCharts from "apexcharts";
  import { apiController } from '../scripts/request.js';
  import {obtenerCookie, getQueryParam, obtenerNombreDelMes} from "../scripts/utils.js";


  async function init() {
    if (document.getElementById("chart-line") && typeof ApexCharts !== 'undefined') {

      let cliente_id = getQueryParam('c');
      var cookies = obtenerCookie('others');
      var objeto = JSON.parse(cookies);

      let fechaActual = new Date(); // obtiene la fecha y hora actual
      let year = fechaActual.getFullYear(); // obtiene el año actual
      let month = fechaActual.getMonth() + 1; // obtiene el mes actual (0-11, por lo que añadimos 1)

      //el 0 adelante ayuda para que no slaga la fecha completa
      const responseData = await apiController(import.meta.env.PUBLIC_BASE_URL,`/consultasCliente/${cliente_id}/getTotalEmitidosSemanal/${year}/0${month}`,'GET',null,objeto.token);
      console.log(responseData);
      let salesData = Object.values(responseData.data);
      let dates = Object.keys(responseData.data);


      const options = {
          series: [
          //{
          //  name: "Sales",
          //  data: [4, 3, 10,],
          //},
          {
            name: "Controles Emitidos",
            data: salesData,
            fill: {
              type: "gradient",
              gradient: {
                shade: "dark",
                type: "horizontal",
                shadeIntensity: 1,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 100, 100, 100],
                gradientToColors: ["#8f64a9"],
              },
            },
          },
        ],
        colors: ["#e2cf41", '#8f64a9'],
        chart: {
          height: 300,
          type: "bar",
        },
        forecastDataPoints: {
          count: 7,
        },
        stroke: {
          width: 5,
          curve: "smooth",
        },
        markers: {
          discrete: [{
            seriesIndex: 1,
            dataPointIndex: 7,
            fillColor: '#eee',
            strokeColor: '#8f64a9',
            size: 15,
            shape: "circle" // "circle" | "square" | "rect"
          }, {
            seriesIndex: 1,
            dataPointIndex: 11,
            fillColor: '#eee',
            strokeColor: '#8f64a9',
            size: 15,
            shape: "circle" // "circle" | "square" | "rect"
          }]
        },
        xaxis: {
          type: "category",
          categories: dates,
          tickAmount: 10,
          labels: {
            //formatter: function (value, timestamp, opts) {
              //return convertirMesInglesAEspanol(moment(new Date(timestamp)).locale('es').format('DD MMM'));
            //},
          },
        },
        title: {
          text: "Cant. Nº Control Semanal ("+ obtenerNombreDelMes(month)+")",
          align: "left",
          style: {
            fontSize: "16px",
            color: "#666",
          },
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "dark",
            gradientToColors: ["#d56c5f"],
            shadeIntensity: 1,
            type: "horizontal",
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100, 100, 100],
          },
        },
        yaxis: {},
      };

      const chart = new ApexCharts(document.querySelector("#chart-line"), options);
        chart.render();
    }
  }

  // Inicializar en la primera carga
  init();

  // Reinicializar después de cambiar de página
  document.addEventListener("astro:after-swap", init);
</script>
