---
interface Props {
  position?: "center" | "right" | "left";
}

const { position = "right" } = Astro.props;
---

<div id="chart-line-area"></div>

<script>
  import ApexCharts from "apexcharts";

  const options = {
    series: [
      {
        name: "series1",
        data: [0, 80, 20, 100, 50, 10, 80],
      },
    ],
    chart: {
      height: 200,
      type: "area",
    },
    dataLabels: {
      enabled: false,
    },
     fill: {
      colors: ["#765ba6"]
    },
    colors: ["#765ba6"],
    stroke: {
      curve: "smooth",
    },
    xaxis: {
      type: "datetime",
      categories: [
        "2018-09-19T00:00:00.000Z",
        "2018-09-19T01:30:00.000Z",
        "2018-09-19T02:30:00.000Z",
        "2018-09-19T03:30:00.000Z",
        "2018-09-19T04:30:00.000Z",
        "2018-09-19T05:30:00.000Z",
        "2018-09-19T06:30:00.000Z",
      ],
    },
    tooltip: {
      x: {
        format: "dd/MM/yy HH:mm",
      },
    },
  };

  function init() {
    if (document.getElementById("chart-line-area") && typeof ApexCharts !== 'undefined') {
      const chart = new ApexCharts(document.querySelector("#chart-line-area"), options);
        chart.render();
    }
  }

  // Inicializar en la primera carga
  init();

  // Reinicializar después de cambiar de página
  document.addEventListener("astro:after-swap", init);
</script>
