---
import logoWakal from '../images/login/logoWakal.png';
import { Image } from 'astro:assets';

interface Props {
	position: 'center' | 'right' | 'left';
}

const { position = 'right' } = Astro.props;

---

<Image src={logoWakal} alt="Imagen" loading="eager" class="w-40 h-auto md:select-none" />
<div class="mt-2 w-40">
    <p class={`text-gray-700 text-min text-${position} md:select-none`}>By Soluciones Laser <br> Version 4.0</p>
</div>