---
import Select from "../components/Select.astro";
import ButtonAction from "./ButtonAction.astro";

interface Props {
    subTitle?: string;
    isSearchBar?: boolean;
}

const {subTitle = '', isSearchBar = true} = Astro.props;
---
<div class="bg-gradient-to-r from-custom-Tredenary to-custom-Quattuordenary p-6 pb-24">
    <h2 class="text-3xl font-semibold mb-4 text-center text-white">{subTitle}</h2>
    <div class="flex flex-col md:flex-row items-center justify-center">
        {isSearchBar &&
        
            <div class="flex gap-2">
                <Select id="fecha_ini" name="" rounded="rounded-full" addClass="p-0.5" addWith="w-auto">
                    <option value="">Opción 1</option>
                    <option value="">Opción 2</option>
                    <option value="">Opción 3</option>
                </Select>

                <Select name="" rounded="rounded-full" addClass="p-0.5" addWith="w-auto">
                    <option value="">Opción 1</option>
                    <option value="">Opción 2</option>
                    <option value="">Opción 3</option>
                </Select>

                <Select name="" rounded="rounded-full" addClass="p-0.5" addWith="w-auto">
                    <option value="">Opción 1</option>
                    <option value="">Opción 2</option>
                    <option value="">Opción 3</option>
                </Select>

                <Select name="" rounded="rounded-full" addClass="p-0.5" addWith="w-auto">
                    <option value="">Opción 1</option>
                    <option value="">Opción 2</option>
                    <option value="">Opción 3</option>
                </Select>
            </div>

            <ButtonAction text="Buscar" redirect="dashboardSearch" addClass="ml-2 py-3 px-8 mt-4 sm:mt-0"/>
        }
    </div>
</div>