---
import Select from "../components/Select.astro";
---
<div class="bg-gradient-to-r from-custom-Tredenary to-custom-Quattuordenary p-6 pb-24">
    <h2 class="text-3xl font-semibold mb-4 text-center text-white">Seleccione su consulta</h2>
    <div class="flex flex-col md:flex-row items-center justify-center">
        <div class="flex gap-2">
            <Select id="fecha_ini" name="" rounded="rounded-full" class_add="p-0.5">
                <option value="">Opción 1</option>
                <option value="">Opción 2</option>
                <option value="">Opción 3</option>
            </Select>

            <Select name="" rounded="rounded-full" class_add="p-0.5">
                <option value="">Opción 1</option>
                <option value="">Opción 2</option>
                <option value="">Opción 3</option>
            </Select>

            <Select name="" rounded="rounded-full" class_add="p-0.5">
                <option value="">Opción 1</option>
                <option value="">Opción 2</option>
                <option value="">Opción 3</option>
            </Select>

            <Select name="" rounded="rounded-full" class_add="p-0.5">
                <option value="">Opción 1</option>
                <option value="">Opción 2</option>
                <option value="">Opción 3</option>
            </Select>
        </div>
        
        <a href="dashboardSearch" class="w-full md:w-28 text-center mt-4 md:mt-0 ml-2 py-3.5 text-sm bg-blue-500 text-white hover:bg-blue-600 rounded-full bg-gradient-to-r from-custom-secundary to-custom-tertiary">Buscar</a>
    </div>
</div>