---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
import logoWakal from '../images/login/logoWakal.webp';

interface Props {
    locals?: any;
}

const ispage = Astro.url.pathname;

const { locals = null} = Astro.props;

let cliente_logo = locals.logo;

if(locals.rol_id == 1){
  cliente_logo = "/uploads/logo_seniat.png";
}
if(locals.rol_id == 2){
  cliente_logo = "/uploads/logo_seniat.png";
}
if(locals.rol_id == 4){
  cliente_logo = "/uploads/logo_seniat.png";
}

---

 <!-- Sidebar -->
 <div id="sidebar" class=" flex flex-col top-0 left-0 w-14 md:w-64 bg-white dark:bg-gray-900 h-auto text-white transition-all duration-300 border-none z-40 sidebar no-imprimir">
      <!-- Sidebar -->
      <div id="sidebar-container" class="fixed h-full flex-col top-0 left-0 w-14 md:w-64 bg-white dark:bg-gray-900 text-white transition-all duration-300 border-none z-40 sidebar">
        <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow h-full">
         <ul class="flex flex-col py-4 space-y-1">
            <li class="mt-6 mb-8">
              <div class="relative flex flex-row items-center h-11 focus:outline-none text-custom-secundary hover:text-white-800 border-l-4 border-transparent pr-6">
                {cliente_logo == null &&
                  <div class="flex items-center justify-center p-5 ml-16">
                      <Icon name="photo-cancel"  class="w-16 h-16" />
                  </div>
                }
                {!(cliente_logo == null) &&
                  <div class="flex items-center justify-center p-5">
                      <Image src={import.meta.env.PUBLIC_BASE_URL+cliente_logo} width="500" height="600" alt="Imagen" loading="eager" class="w-full h-22 object-cover  select-none" />
                  </div>
                }
              </div>
            </li>
            {(locals.rol_id == 1 || locals.rol_id == 2) &&
              <li>
                <a href={"/dashboard/home"} class={`button_option relative flex flex-row items-center h-11 focus:outline-none ${ispage.includes('/dashboard/home') ? 'bg-custom-secundary text-white' : 'text-custom-secundary'} hover:bg-custom-secundary hover:text-white hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6`}>
                    <span class="inline-flex justify-center items-center ml-4">
                        <Icon name="chart-pie-filled"  class="w-5 h-5" />
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Inicio</span>
                </a>
              </li>
            }
            {locals.rol_id == 3 &&
            <li>
              <a href={"/dashboard/clientes/home?c="+locals.cliente_id} class={`button_option relative flex flex-row items-center h-11 focus:outline-none ${ispage.includes('/dashboard/clientes/home') ? 'bg-custom-secundary text-white' : 'text-custom-secundary'} hover:bg-custom-secundary hover:text-white hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6`}>
                  <span class="inline-flex justify-center items-center ml-4">
                      <Icon name="chart-pie-filled"  class="w-5 h-5" />
                  </span>
                  <span class="ml-2 text-sm tracking-wide truncate">Inicio</span>
              </a>
            </li>
            }
            {(locals.rol_id == 1 || locals.rol_id == 2) &&
            <li>
              <a href="/dashboard/clientes" class={`button_option relative flex flex-row items-center h-11 focus:outline-none ${ispage.includes('/dashboard/clientes') ? 'bg-custom-secundary text-white' : 'text-custom-secundary'} hover:bg-custom-secundary hover:text-white hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6`}>
                <span class="inline-flex justify-center items-center ml-4">
                  <Icon name="users"  class="w-5 h-5" />
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">{locals.rol_id == 2 ? 'Contribuyentes' : 'Clientes'}</span>
              </a>
            </li>
            }
            <li>
              <a href="/dashboard/usuarios" class={`button_option relative flex flex-row items-center h-11 focus:outline-none ${ispage.includes('/dashboard/usuarios') ? 'bg-custom-secundary text-white' : 'text-custom-secundary'} hover:bg-custom-secundary hover:text-white hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6`}>
                <span class="inline-flex justify-center items-center ml-4">
                  <Icon name="user"  class="w-5 h-5" />
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Usuarios</span>
              </a>
            </li>
            <li>
              <a href="/dashboard/reportes" class={`button_option relative flex flex-row items-center h-11 focus:outline-none ${ispage.includes('/dashboard/reportes') ? 'bg-custom-secundary text-white' : 'text-custom-secundary'} hover:bg-custom-secundary hover:text-white hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6`}>
                <span class="inline-flex justify-center items-center ml-4">
                  <Icon name="file"  class="w-5 h-5" />
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Reportes</span>
              </a>
            </li>

           
            {(locals.rol_id == 1 || locals.rol_id == 2 || locals.rol_id == 3) &&
            <li>
              <a href="/dashboard/historial" class={`button_option relative flex flex-row items-center h-11 focus:outline-none ${ispage.includes('/dashboard/historial') ? 'bg-custom-secundary text-white' : 'text-custom-secundary'} hover:bg-custom-secundary hover:text-white hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6`}>
                <span class="inline-flex justify-center items-center ml-4">
                  <Icon name="clock"  class="w-5 h-5" />
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Auditoria</span>
              </a>
            </li>
            }
            <li>
              <a href="/" class={`button_option relative flex flex-row items-center h-11 focus:outline-none ${ispage === '/' ? 'bg-custom-secundary text-white' : 'text-custom-secundary'} hover:bg-custom-secundary hover:text-white hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6`}>
                <span class="inline-flex justify-center items-center ml-4">
                  <Icon name="logout"  class="w-5 h-5" />
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Salir</span>
              </a>
            </li>

            
          </ul>
         
          <div>
            <div class="flex items-center justify-center p-6">
                <Image src={logoWakal} alt="Imagen" loading="eager" class="w-32 h-22 object-cover p-3 select-none overflow-hidden" />
            </div>
            <div class="flex items-center justify-center p-6 -mt-16">
                <span class="ml-2  text-sm tracking-wide truncate"><p class={`text-gray-700 text-min text-center md:select-none`}>By Soluciones Laser <br>Version 4.0</p></span>
            </div>
          </div>
            
              
             
          </ul>
        </div>
      </div>
    </div>
<script>
  function init() {
    // Obtén los elementos del DOM
    var sidebar = document.getElementById('sidebar');
    var sidebarContainer = document.getElementById('sidebar-container');
    var sidebarToggle = document.getElementById('sidebarToggle');
  
    // Agrega un evento de clic al botón
    sidebarToggle.addEventListener('click', function() {
        // Comprueba si el sidebar tiene la clase 'w-64'
        if (sidebar.classList.contains('w-14')) {
            // Si la tiene, quítasela
            sidebar.classList.remove('w-14');
            sidebarContainer.classList.remove('w-14');

            sidebar.classList.add('w-64');
            sidebarContainer.classList.add('w-64');
           
        } else if (sidebar.classList.contains('w-64')) {
          // Si la tiene, quítasela
          sidebar.classList.remove('w-64');
          sidebarContainer.classList.remove('w-64');

          sidebar.classList.add('w-14');
          sidebarContainer.classList.add('w-14');
        
        } 

        if (sidebar.classList.contains('md:w-64')) {
            // Si la tiene, quítasela
            sidebar.classList.remove('md:w-64');
            sidebarContainer.classList.remove('md:w-64');

            sidebar.classList.add('md:w-14');
            sidebarContainer.classList.add('md:w-14');
           
        } else if (sidebar.classList.contains('md:w-14')) {
          // Si la tiene, quítasela
          sidebar.classList.remove('md:w-14');
          sidebarContainer.classList.remove('md:w-14');

          sidebar.classList.add('md:w-64');
          sidebarContainer.classList.add('md:w-64');
        
        }
    });

  }

  // Inicializar en la primera carga
  init();

  // Reinicializar después de cambiar de página
  document.addEventListener("astro:after-swap", init);
  
  
</script>
