---
import  { ViewTransitions }  from 'astro:transitions';
import Sidebar from "../components/Sidebar.astro";
import Navbar from "../components/Navbar.astro";
import Head from "./includes/Head.astro";
import SearchBar from "../components/SearchBar.astro";

interface Props {
	title: string;
	subTitle?: string;
	bodyClass?: string;
	isSearchBar?: boolean;
}

const { title, subTitle = 'Seleccione su consulta', bodyClass = '', isSearchBar = true} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body class={bodyClass}>
		<div class="flex">
			<div>
				<Sidebar cliente="soluciones_laser" />
			</div>
			<div class="flex-grow">
				<div  class="h-full bg-custom-quaternary transition-all duration-300">
					<Navbar />
					<SearchBar isSearchBar={isSearchBar} subTitle={subTitle}/>
					<slot />
				</div>
			</div>
		</div>
		<script>
			import { initFlowbite } from 'flowbite'
			import tippy from 'tippy.js';
			import 'tippy.js/dist/tippy.css'; // optional for styling

			function init() {
				tippy('[data-tippy-content]');
				initFlowbite();
			}

			// Inicializar en la primera carga
			init();

			// Reinicializar después de cambiar de página
			document.addEventListener("astro:after-swap", init);
		</script>
	</body>
</html>
<script>
	  
</script>