---
import  { ViewTransitions }  from 'astro:transitions';
import Sidebar from "../components/Sidebar.astro";
import Navbar from "../components/Navbar.astro";
import Head from "./includes/Head.astro";

interface Props {
	title: string;
	bodyClass?: string;
	isSidebar?: boolean;
}

const { title, bodyClass = ''} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body class={bodyClass}>
		<div class="flex">
			<div transition:persist>
				<Sidebar cliente="soluciones_laser" />
			</div>
			<div class="flex-grow">
				<div  class="h-full bg-custom-quaternary transition-all duration-300">
				<Navbar />
					<slot />
				</div>
			</div>
		</div>
	
	</body>
</html>
<script>
	  
</script>