---
import Head from "./includes/Head.astro";

interface Props {
	title: string;
	bodyClass?: string;
	isSidebar?: boolean;
}

const { title, bodyClass = ''} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body class={bodyClass}>
		<slot />
	</body>
</html>
<script>

</script>